<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963651852002-84ak7pk40f3md0fqnms2lr2qmsntkfa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963651852002-84ak7pk40f3md0fqnms2lr2qmsntkfa0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>963651852002-gavfdaagr67muvhs3fo6esqqjg4sij00.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdvBx7FlPmf6enFT7dokmyz8Pr2fnpHo4</string>
	<key>GCM_SENDER_ID</key>
	<string>963651852002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greyvetro.greyvetroBudgetTracker</string>
	<key>PROJECT_ID</key>
	<string>greyvetro-budget-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>greyvetro-budget-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963651852002:ios:e5704e112a926efbf1f0bb</string>
</dict>
</plist>